{% extends 'base-cf.html' %}

{% block title %}
    {% if genre %}
        Картины жанра "{{ genre }}"
    {% elif drawings %}
        Картины
    {% else %}
        Нет картин :\
    {% endif %}
{% endblock %}

{% block style %}
    <style>

		.dropdown{
			height: 42px;
		}

        .genre-name{
            width: calc(100% - 125px);
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        #menu3 {
            max-height: 300px;
            overflow: auto;
        }
        .genre-name{
            width: calc(100% - 125px);
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="dropdown">
        <button class="btn btn-default" data-toggle="dropdown">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			Поиск по жанрам
        </button>
        <ul id="menuGenres" class="dropdown-menu" role="menu" aria-labelledby="drop6">
			<li class="list	-group-item" style="height: 34px; line-height: 34px;">
				<a href="{% url 'drawings-index' %}?genre=0">
					Без жанра
				</a>
			</li>
		{% for genre in genres.all %}
			<li class="list	-group-item" style="height: 34px; line-height: 34px;">
				<a href="{{ genre.get_related_drawings_page_url }}">
					{{ genre }}
				</a>
			</li>
		{% endfor %}
        </ul>
    </div>
    {% if genre %}
        <h3>Drawings of genre "{{ genre }}"</h3>
    {% endif %}

    {% if genre %}
        <h3>Картины жанра "{{ genre }}"</h3>
    {% elif drawings %}
        <h3>Картины</h3>
    {% else %}
        <h3>Нет картин :\</h3>
    {% endif %}
    <div class="row">
        <div class="list-group">
            {% for drawing in drawings %}
                {% include 'drawing/tile_with_artist.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
