{% load templatetags %}
<div class="list-group-item">
    <div class="media">
        <div class="media-left">
            <a href="{{ drawing.get_absolute_url }}">
                <img class="media-object" data-src="holder.js/64x64" alt="64x64"
                     src="{{ drawing.image.url }}"
                     data-holder-rendered="true" style="width: 64px; height: 64px;">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                {% block header %}
                    <a href="{{ drawing.get_absolute_url }}">{{ drawing.name }}</a>
                    {% if drawing.exhibition__count > 0 %}
                        <a href="{{ drawing.get_related_exhibitions_page_url }}"
                           title="{{ drawing.exhibition__count }} exhibitions" class="badge">
                            {{ drawing.exhibition__count }}
                        </a>
                    {% endif %}
                {% endblock %}
            </h4>
            {% if drawing.genres.all|length > 0 %}
                <h5>Жанры:
                    {% for genre in drawing.genres.all|order_by:'drawinggenre__priority' %}
                        <a href="{{ genre.get_related_drawings_page_url }}"
                           class="label label-default">{{ genre }}</a>
                    {% endfor %}
                </h5>
            {% endif %}
        </div>
        {% include 'drawing/edit-btn-span.html' %}
    </div>
</div>