{% extends 'base-cf.html' %}

{% block style %}
    <style>
        .col-lg-4 > .affix.panel{
            width: 100%;
            height: 100%;
        }

        .media > div{
            display: inline-block;
        }

        .media > .media-body{
            width: 75%;
        }
    </style>
{% endblock %}

{% block title %} User {{ artist.full_name }} {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <div class="list-group">
                {% for drawing in artist.drawings.all %}
                    <div class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <a href="{{ drawing.get_absolute_url }}">
                                    <img class="media-object" data-src="holder.js/64x64" alt="64x64"
                                         src="{{ drawing.image.url }}"
                                         data-holder-rendered="true" style="width: 64px; height: 64px;">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ drawing.name }}</h4>
                                <h5>Теги:
                                    {% for genre in drawing.genres.all %}
                                        <span class="label label-default">{{ genre }}</span>
                                    {% endfor %}
                                </h5>
                            </div>
                            <div class="imageBtn pull-right">
                                <button type="button" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="affix pull-right panel">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="{{ artist.photo.url }}" alt="{{ artist.full_name }}">
                        </a>
                        <h3>{{ artist.full_name }}</h3>
                        <h4>{{ artist.bio }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}