{% extends 'base-cf.html' %}

{% block style %}
    <style>
        .col-lg-4 > .affix.panel{
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock %}

{% block title %} Organizer {{ artist.full_name }} {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <div class="list-group">
                {% for xzibit in org.exhibitions.all %}
                    {% include 'exhibition/tile.html' %}
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="affix pull-right panel">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="{{ org.photo.url }}" alt="{{ org.full_name }}">
                        </a>
                        <h3>{{ org.full_name }}</h3>
                        <h4>{{ org.bio }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}