{% extends 'base.html' %}

{% block title %} Sign Up {% endblock %}

{% block content %}
    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px"><a href="{% url 'login' %}">Sign In</a></div>
            </div>
            <div class="panel-body" >
                <form id="signupform" class="form-horizontal"
                      role="form" action="{% url 'register' %}" method="POST"
                      enctype="multipart/form-data">

                    {% csrf_token %}

                    <div id="signupalert" style="display:none" class="alert alert-danger">
                        <p>Error:</p>
                        {% for message in form.error_messages %}
                            <span>{{ message }}</span>
                        {% endfor %}
                    </div>

                    <div class="form-group {% if form.username.errors %} has-error has-feedback {% endif %}">
                        <label for="{{ form.username.id_for_label }}" class="col-md-3 control-label">Username</label>
                        <div class="col-md-9">
                            <input id="{{ form.username.id_for_label }}" type="text" class="form-control"
                                   name="{{ form.username.html_name }}" value="{% firstof form.username.value '' %}"
                                   placeholder="Username">
                            {% if form.username.errors %}
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            {% endif %}
                            {% for msg in form.username.errors %}
                                <span class="help-block">{{ msg }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group {% if form.email.errors %} has-error has-feedback {% endif %}">
                        <label for="{{ form.email.id_for_label }}" class="col-md-3 control-label">Email</label>
                        <div class="col-md-9">
                            <input id="{{ form.email.id_for_label }}" type="email" class="form-control"
                                   name="{{ form.email.html_name }}" value="{% firstof form.email.value '' %}"
                                   placeholder="Email Address">
                            {% if form.email.errors %}
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            {% endif %}
                            {% for msg in form.email.errors %}
                                <span class="help-block">{{ msg }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group {% if form.first_name.errors %} has-error has-feedback {% endif %}">
                        <label for="{{ form.first_name.id_for_label }}" class="col-md-3 control-label">First Name</label>
                        <div class="col-md-9">
                            <input id="{{ form.first_name.id_for_label }}" type="text" class="form-control"
                                   name="{{ form.first_name.html_name }}" value="{% firstof form.first_name.value '' %}"
                                   placeholder="First Name">
                            {% if form.first_name.errors %}
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            {% endif %}
                            {% for msg in form.first_name.errors %}
                                <span class="help-block">{{ msg }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group {% if form.last_name.errors %} has-error has-feedback {% endif %}">
                        <label for="{{ form.password.id_for_label }}" class="col-md-3 control-label">Last Name</label>
                        <div class="col-md-9">
                            <input id="{{ form.last_name.id_for_label }}" type="text" class="form-control"
                                   name="{{ form.last_name.html_name }}" value="{% firstof form.last_name.value '' %}"
                                   placeholder="Last Name">
                            {% if form.last_name.errors %}
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            {% endif %}
                            {% for msg in form.last_name.errors %}
                                <span class="help-block">{{ msg }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group {% if form.password1.errors %} has-error has-feedback {% endif %}">
                        <label for="{{ form.password1.id_for_label }}" class="col-md-3 control-label">Password</label>
                        <div class="col-md-9">
                            <input id="{{ form.password1.id_for_label }}" type="password" class="form-control"
                                   name="{{ form.password1.html_name }}" value="{% firstof form.password1.value '' %}"
                                   placeholder="Password">
                            {% if form.password1.errors %}
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            {% endif %}
                            {% for msg in form.password1.errors %}
                                <span class="help-block">{{ msg }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group {% if form.password2.errors %} has-error has-feedback {% endif %}">
                        <label for="{{ form.password2.id_for_label }}" class="col-md-3 control-label">Confirm Password</label>
                        <div class="col-md-9">
                            <input id="{{ form.password2.id_for_label }}" type="password" class="form-control"
                                   name="{{ form.password2.html_name }}" value="{% firstof form.password2.value '' %}"
                                   placeholder="Repeat Password">
                            {% if form.password2.errors %}
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            {% endif %}
                            {% for msg in form.password2.errors %}
                                <span class="help-block">{{ msg }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="icode" class="col-md-3 control-label">Role</label>
                        <div class="col-md-9">
                        {% load templatetags %}
                            {{ form.role|add_class:'form-control' }}
                        </div>
                    </div>

                    <div class="form-group {% if form.photo.errors %} has-error has-feedback {% endif %}">
                        <div class="col-md-9 col-md-push-3">
                            <input id="{{ form.photo.id_for_label }}" type="file"
                                   name="{{ form.photo.html_name }}"
                                   style="display: none">
                            <label for="{{ form.photo.id_for_label }}" class="btn btn-primary btn-block">Choose photo</label>

                            {% if form.photo.errors %}
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            {% endif %}
                            {% for msg in form.photo.errors %}
                                <span class="help-block">{{ msg }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <input id="btn-signup" type="submit" class="btn btn-info" value="&nbsp Sign Up">
{#                          <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>#}
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}
