{% extends 'base-cf.html' %}

{% block title %} {% endblock %}

{% block style %}
    <style>
        .col-lg-4 > .affix.panel{
            width: 100%;
            height: 100%;
        }
        .media > div{
            display: inline-block;
        }

        .media > .media-body{
            width: 75%;
        }

        .col-lg-4 > .affix.panel {
            width: 100%;
            height: 100%;
        }
        .genre-name{
            width: calc(100% - 125px);
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .row{height:100%;}
        .row > div {height:100%;}
        #genreList, #drawingList {
            overflow: auto;
            max-height: 35%;
        }

        #menuGenres {
            max-height: 300px;
            overflow: auto;
        }

        #menuDrawings {
            max-height: 250px;
            overflow: auto;
            width: 600px;
        }
    </style>
{% endblock %}

{% block script %}

    <script>
        $(function(){
            const isNewEntry = {% if xzibit %} false {% else %} true {% endif %};
            const updateGenresOrderUrl =
                {% if xzibit %}
                    "{% url 'exhibition-genres-update' xzibit.pk %}"
                {% else %}
                    "{% url 'exhibition-genres-preupdate'%}"
                {% endif %};
            const getGenresUrl = "{% url 'genres' %}";
            {% if xzibit %}
            const getExhibitionGenresUrl = "{% url 'exhibition-genres' pk=xzibit.pk %}";
            {% endif %}
            Genre = {
                genres: [],
                genresCopy: null,
                allGenres: [],
                freeGenres: [],

                saveGenres: function () {
                    this.genresCopy = this.genres.slice(0, this.genres.length);
                },

                restoreGenres: function () {
                    this.genres = this.genresCopy;
                },

                reportToServer: function (successCallback, failCallback) {
                    var success = false;
                    var genres_ids = $.map(this.genres, function(x) { return x.id; });
                    var stringified = genres_ids.join(',');
                    var This = this;
                    $.post(updateGenresOrderUrl,
                            {'ids_order':stringified,
                             'csrfmiddlewaretoken':"{{ csrf_token }}"},
                            'json'
                    ).done(function(data) {
                        success = !!data.success;
                    }).always(function() {
                        if (!Array.isArray(successCallback))
                            successCallback = [successCallback];
                        if (!Array.isArray(failCallback))
                            failCallback = [failCallback];
                        var execute = success ? successCallback : failCallback;
                        for (var k in execute)
                            execute[k].call(This);
                    });
                },

                up: function (i) {
                    this.saveGenres();
                    var genres = this.genres;
                    if (i > 0) {
                        var genre = genres[i - 1];
                        genres[i - 1] = genres[i];
                        genres[i] = genre;
                    }
                    this.reportToServer(this.showList, this.restoreGenres);
                },

                down: function (i) {
                    this.saveGenres();
                    var genres = this.genres;
                    if (i < genres.length - 1) {
                        var genre = genres[i + 1];
                        genres[i + 1] = genres[i];
                        genres[i] = genre;
                    }
                    this.reportToServer(this.showList, this.restoreGenres);
                },

                remove: function (i) {
                    this.saveGenres();
                    this.genres.splice(i,1);
                    this.reportToServer(
                        [this.showList, this.refreshFree],
                        this.restoreGenres
                    );
                },

                add: function (i) {
                    this.saveGenres();
                    this.genres.push(this.freeGenres[i]);
                    this.reportToServer(
                        [this.showList, this.refreshFree],
                        this.restoreGenres
                    );
                },

                showList: function () {
                    var elem = $('#genreList');
                    elem.html('');
                    for (var i=0; i < this.genres.length; i++) {
                        elem.append(
                            '<li class="list-group-item" style="height: 56px; line-height: 34px;">'+
                            '<span class="genre-name">'+ this.genres[i].name+'</span>'+
                            '<button type="button" class="btn btn-danger pull-right" style="margin-left: 4px"onclick="Genre.remove('+i+')">'+
                            '<span class="glyphicon glyphicon-remove"></span>'+
                            '</button>'+
                            '<div class="btn-group pull-right" role="group">'+
                            '<button type="button" class="btn btn-default"onclick="Genre.up('+i+')">'+
                            '<span class="glyphicon glyphicon-chevron-up"></span>'+
                            '</button>'+
                            '<button type="button" class="btn btn-default"onclick="Genre.down('+i+')">'+
                            '<span class="glyphicon glyphicon-chevron-down"></span>'+
                            '</button>'+
                            '</div>'+
                            '</li>'
                        );
                    }
                },

                showFreeList: function () {
                    var elem = $('#menuGenres');
                    elem.html('');
                    for (var i=0; i < this.freeGenres.length; i++){
                        elem.append(
                            '<li role="presentation" onclick="Genre.add('+i+')"><a>'+
                            this.freeGenres[i].name+
                            '</a></li>'
                        );
                    }
                },

                refreshFree: function () {
                    var t = this.allGenres.slice(0, this.allGenres.length);
                    var k;
                    for (var i =0; i < this.genres.length; i++) {
                        k = -1;
                        for (var j = 0; j < t.length; j++) {
                            if (t[j].id == this.genres[i].id) {
                                k = j;
                                break;
                            }
                        }
                        if (k >= 0)
                            t.splice(k, 1);
                    }
                    this.freeGenres = t;
                    this.showFreeList();
                },

                getExhibitionGenres: function(callback) {
                    var This = this;
                    if (isNewEntry)
                        callback();
                    else
                        $.getJSON(getExhibitionGenresUrl, function (data){
                            This.genres = data;
                            This.showList();
                            callback();
                        });
                },

                getAllGenres: function() {
                    var This = this;
                    return $.getJSON(getGenresUrl,
                        function(data1){
                            This.allGenres = data1;
                            This.refreshFree();
                        });
                },

                init: function(){
                    var clbk = this.getAllGenres.bind(this);
                    this.getExhibitionGenres(clbk);
                }
            };

            Genre.init();

            const updateDrawingsListUrl =
                {% if xzibit %}
                    "{% url 'exhibition-drawings-update' xzibit.pk %}"
                {% else %}
                    "{% url 'exhibition-drawings-preupdate' %}"
                {% endif %};
            const getDrawingsUrl = "{% url 'drawings-list' %}";
            {% if xzibit %}
            const getExhibitionDrawingsUrl = "{% url 'exhibition-drawings' pk=xzibit.pk %}";
            {% endif %}
            Drawing = {
                drawings: [],
                drawingsCopy: null,
                allDrawings: [],
                freeDrawings: [],

                saveDrawings: function () {
                    this.drawingsCopy = this.drawings.slice(0, this.drawings.length);
                },

                restoreDrawings: function () {
                    this.drawings = this.drawingsCopy;
                },

                reportToServer: function (successCallback, failCallback) {
                    var success = false;
                    var drawings_ids = $.map(this.drawings, function(x) { return x.id; });
                    var stringified = drawings_ids.join(',');
                    var This = this;
                    $.post(updateDrawingsListUrl,
                            {'ids_order':stringified,
                             'csrfmiddlewaretoken':"{{ csrf_token }}"},
                            'json'
                    ).done(function(data) {
                        success = !!data.success;
                    }).always(function() {
                        if (!Array.isArray(successCallback))
                            successCallback = [successCallback];
                        if (!Array.isArray(failCallback))
                            failCallback = [failCallback];
                        var execute = success ? successCallback : failCallback;
                        for (var k in execute)
                            execute[k].call(This);
                    });
                },

                remove: function (i) {
                    this.saveDrawings();
                    this.drawings.splice(i,1);
                    this.reportToServer(
                        [this.showList, this.refreshFree],
                        this.restoreDrawings
                    );
                },

                add: function (i) {
                    this.saveDrawings();
                    this.drawings.push(this.freeDrawings[i]);
                    this.reportToServer(
                        [this.showList, this.refreshFree],
                        this.restoreDrawings
                    );
                },

                showList: function () {
                    var elem = $('#drawingList');
                    elem.html('');
                    var toAppend;
                    for (var i in this.drawings) {
                        toAppend =
                            '<div class="list-group-item">' +
                            '<div class="media">'+
                            '<div class="media-left">'+
                            '<img class="media-object" data-src="holder.js/64x64" alt="64x64"'+
                            'src="' + this.drawings[i].url + '"'+
                            'data-holder-rendered="true" style="width: 64px; height: 64px;">'+
                            '</div>'+
                            '<div class="media-body">'+
                            '<h4 class="media-heading">' + this.drawings[i].name + '</h4>'+
                            '<h5>Genres: ';
                        for (var j in this.drawings[i].genres)
                            toAppend +=
                                '<span class="label label-default">' + this.drawings[i].genres[j] + '</span> ';
                        toAppend +=
                            '</h5>'+
                            '</div>'+
                            '<div class="imageBtn pull-right">'+
                            '<button type="button" class="btn btn-danger" onclick="Drawing.remove(' + i + ')">'+
                            '<span class="glyphicon glyphicon-remove"></span>'+
                            '</button>'+
                            '</div>'+
                            '</div>'+
                            '</div>';
                        elem.append(toAppend);
                    }
                },

                showFreeList: function () {
                    var elem = $('#menuDrawings');
                    elem.html('');
                    var toAppend;
                    for (var i in this.freeDrawings) {
                        toAppend =
                            '<div class="list-group-item" onclick="Drawing.add(' + i + ')">' +
                            '<div class="media">'+
                            '<div class="media-left">'+
                            '<img class="media-object" data-src="holder.js/64x64" alt="64x64"'+
                            'src="' + this.freeDrawings[i].url + '"'+
                            'data-holder-rendered="true" style="width: 64px; height: 64px;">'+
                            '</div>'+
                            '<div class="media-body">'+
                            '<h4 class="media-heading">' + this.freeDrawings[i].name + '</h4>'+
                            '<h5>Genres: ';
                        for (var j in this.freeDrawings[i].genres )
                            toAppend +=
                                '<span class="label label-default">' + this.freeDrawings[i].genres[j] + '</span> ';
                        toAppend +=
                            '</h5>'+
                            '</div>'+
                            '<div class="imageBtn pull-right">'+
                            '</div>'+
                            '</div>'+
                            '</div>';
                        elem.append(toAppend);
                    }
                },

                refreshFree: function () {
                    var t = this.allDrawings.slice(0, this.allDrawings.length);
                    var k;
                    for (var i =0; i < this.drawings.length; i++) {
                        k = -1;
                        for (var j = 0; j < t.length; j++) {
                            if (t[j].id == this.drawings[i].id) {
                                k = j;
                                break;
                            }
                        }
                        if (k >= 0)
                            t.splice(k, 1);
                    }
                    this.freeDrawings = t;
                    this.showFreeList();
                },

                getDrawingGenres: function(callback) {
                    var This = this;
                    if (isNewEntry)
                        callback();
                    else
                        $.getJSON(getExhibitionDrawingsUrl, function (data){
                            This.drawings = data;
                            This.showList();
                            callback();
                        });
                },

                getAllDrawings: function() {
                    var This = this;
                    return $.getJSON(getDrawingsUrl,
                        function(data){
                            This.allDrawings = data;
                            This.refreshFree();
                        });
                },

                init: function(){
                    var clbk = this.getAllDrawings.bind(this);
                    this.getDrawingGenres(clbk);
                }
            };

            Drawing.init();
        });
    </script>
{% endblock %}

{% block content %}
    {% load staticfiles %}
    {% if xzibit %}
    {% url 'exhibition-edit' pk=xzibit.pk as form_url %}
    {% else %}
    {% url 'exhibition-create' as form_url %}
    {% endif %}
    <form action="{{ form_url }}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-8">
            <div class="list-group" id="drawingList">
            </div>
            <div class="dropdown">
                <button class="btn btn-primary pull-right" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <div id="menuDrawings" class="dropdown-menu pull-right" role="menu" aria-labelledby="drop6">
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-lg pull-left">
                <span class="glyphicon glyphicon-ok"></span> OK
            </button>
        </div>
        <div class="col-lg-4">
            <div class="affix pull-right panel">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <div class="form-group {% if form.name.errors %} has-error has-feedback {% endif %}">
                            <label class="control-label" for="{{ form.name.id_for_label }}">Name</label>
                            <input type="text" name="{{ form.name.html_name }}"
                                   class="form-control"
                                   placeholder="Name" id="{{ form.name.id_for_label }}"
                                   value="{% firstof form.name.value '' %}">
                            {% if form.name.errors %}
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            {% endif %}
                            {% for msg in form.name.errors %}
                                <span class="help-block">{{ msg }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group {% if form.description.errors %} has-error has-feedback {% endif %}">
                            <label class="control-label" for="{{ form.description.id_for_label }}">Description</label>
                            <textarea type="text" placeholder="Description"
                                   id="{{ form.description.id_for_label }}" class="form-control"
                                   name="{{ form.description.html_name }}">{% firstof form.description.value '' %}</textarea>
                            {% if form.description.errors %}
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            {% endif %}
                            {% for msg in form.description.errors %}
                                <span class="help-block">{{ msg }}</span>
                            {% endfor %}
                        </div>
                        <h4>Genres</h4>
                        <ul class="list-group" id="genreList">
                        </ul>
                        <div class="dropdown">
                            <button class="btn btn-primary pull-right" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                            <ul id="menuGenres" class="dropdown-menu pull-right" role="menu" aria-labelledby="drop6">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
{% endblock %}