{% extends 'base-cf.html' %}

{% block title %}
    {% if genre %}
        Exhibitions of genre "{{ genre }}"
    {% elif drawing %}
        Exhibitions with drawing #{{ drawing.pk }}" {{ drawing }}"
    {% else %}
        Exhibitions
    {% endif %}
{% endblock %}

{% block style %}
    <style>

		.dropdown{
			height: 42px;
		}

        .genre-name{
            width: calc(100% - 125px);
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        #menu3 {
            max-height: 300px;
            overflow: auto;
        }
        .genre-name{
            width: calc(100% - 125px);
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="dropdown">
        <button class="btn btn-default" data-toggle="dropdown">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			Поиск по жанрам
        </button>
        <ul id="menuGenres" class="dropdown-menu" role="menu" aria-labelledby="drop6">
			<li class="list	-group-item" style="height: 34px; line-height: 34px;">
				<a href="/exhibitions?genre=0">
					no genre
				</a>
			</li>
		{% for genre in genres.all %}
			<li class="list	-group-item" style="height: 34px; line-height: 34px;">
				<a href="{{ genre.get_related_exhibitions_page_url }}">
					{{ genre }}
				</a>
			</li>
		{% endfor %}
        </ul>
    </div>
    {% if genre %}
        <h3>Exhibitions of genre "{{ genre }}"</h3>
    {% elif drawing %}
        <h3>Exhibitions with drawing #{{ drawing.pk }}" {{ drawing }}"</h3>
    {% else %}
        <h3>Exhibitions</h3>
    {% endif %}
    <div class="row">
        <div class="list-group">
            {% for xzibit in exhibitions %}
                {% include 'exhibition/tile_with_org.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
